<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Modules{% endblock %}</title>

        {% block stylesheets %}
           
        {% endblock %}

    </head>
    <body>
    <h1>Liste des modules</h1>
        {% block body %}{% endblock %}
    </body>
</html>
