<h1>Recherche Voiture</h1>
<form action="" method="POST">
    Série : <input type="text" name="input_serie">
    <input type="submit" name="Rechercher">
</form>
<form action="" method="POST">
    Model : <input type="text" name="input_libelle">
    <input type="submit" name="Rechercher">
</form>

{% if voitures is empty %}
    Aucune voiture trouvée !
{% else %}
    <table border="1" >
    <tr align="center">
        <td>Serie</td>
        <td>Modele</td>
    </tr>
    {% for v in voitures %}
        <tr>
            <td>{{ v[0].Serie }}</td>
            <td>{{ v.model }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

